@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Turret+Road:wght@200;300;400;500;700;800&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=Tilt+Neon&family=Outfit:wght@100..900&display=swap');
 .App{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    color: azure;
  }
  
  

